ConsumidorSOAP/xml-resources/web-service-references/JocServerService/wsdl/localhost_8080/ServerSOAP/JocServerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ServerSOAP/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ServerSOAP/" name="JocServerService">
<types>
<xsd:schema>
<xsd:import namespace="http://ServerSOAP/" schemaLocation="http://localhost:8080/ServerSOAP/JocServerService?xsd=1"/>
</xsd:schema>
</types>
<message name="veureCartes">
<part name="parameters" element="tns:veureCartes"/>
</message>
<message name="veureCartesResponse">
<part name="parameters" element="tns:veureCartesResponse"/>
</message>
<message name="crearSala">
<part name="parameters" element="tns:crearSala"/>
</message>
<message name="crearSalaResponse">
<part name="parameters" element="tns:crearSalaResponse"/>
</message>
<message name="acabarJoc">
<part name="parameters" element="tns:acabarJoc"/>
</message>
<message name="acabarJocResponse">
<part name="parameters" element="tns:acabarJocResponse"/>
</message>
<message name="demanarCarta">
<part name="parameters" element="tns:demanarCarta"/>
</message>
<message name="demanarCartaResponse">
<part name="parameters" element="tns:demanarCartaResponse"/>
</message>
<message name="descartarCartes">
<part name="parameters" element="tns:descartarCartes"/>
</message>
<message name="descartarCartesResponse">
<part name="parameters" element="tns:descartarCartesResponse"/>
</message>
<portType name="JocServer">
<operation name="veureCartes">
<input wsam:Action="http://ServerSOAP/JocServer/veureCartesRequest" message="tns:veureCartes"/>
<output wsam:Action="http://ServerSOAP/JocServer/veureCartesResponse" message="tns:veureCartesResponse"/>
</operation>
<operation name="crearSala">
<input wsam:Action="http://ServerSOAP/JocServer/crearSalaRequest" message="tns:crearSala"/>
<output wsam:Action="http://ServerSOAP/JocServer/crearSalaResponse" message="tns:crearSalaResponse"/>
</operation>
<operation name="acabarJoc">
<input wsam:Action="http://ServerSOAP/JocServer/acabarJocRequest" message="tns:acabarJoc"/>
<output wsam:Action="http://ServerSOAP/JocServer/acabarJocResponse" message="tns:acabarJocResponse"/>
</operation>
<operation name="demanarCarta">
<input wsam:Action="http://ServerSOAP/JocServer/demanarCartaRequest" message="tns:demanarCarta"/>
<output wsam:Action="http://ServerSOAP/JocServer/demanarCartaResponse" message="tns:demanarCartaResponse"/>
</operation>
<operation name="descartarCartes">
<input wsam:Action="http://ServerSOAP/JocServer/descartarCartesRequest" message="tns:descartarCartes"/>
<output wsam:Action="http://ServerSOAP/JocServer/descartarCartesResponse" message="tns:descartarCartesResponse"/>
</operation>
</portType>
<binding name="JocServerPortBinding" type="tns:JocServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="veureCartes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearSala">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="acabarJoc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="demanarCarta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="descartarCartes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="JocServerService">
<port name="JocServerPort" binding="tns:JocServerPortBinding">
<soap:address location="http://localhost:8080/ServerSOAP/JocServerService"/>
</port>
</service>
</definitions>