ConsumidorSOAP/xml-resources/web-service-references/JocServerService/wsdl/localhost_8080/ServerSOAP/JocServerService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ServerSOAP/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ServerSOAP/">

<xs:element name="acabarJoc" type="tns:acabarJoc"/>

<xs:element name="acabarJocResponse" type="tns:acabarJocResponse"/>

<xs:element name="crearSala" type="tns:crearSala"/>

<xs:element name="crearSalaResponse" type="tns:crearSalaResponse"/>

<xs:element name="demanarCarta" type="tns:demanarCarta"/>

<xs:element name="demanarCartaResponse" type="tns:demanarCartaResponse"/>

<xs:element name="descartarCartes" type="tns:descartarCartes"/>

<xs:element name="descartarCartesResponse" type="tns:descartarCartesResponse"/>

<xs:element name="veureCartes" type="tns:veureCartes"/>

<xs:element name="veureCartesResponse" type="tns:veureCartesResponse"/>

<xs:complexType name="crearSala">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="crearSalaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="descartarCartes">
<xs:sequence>
<xs:element name="idSala" type="xs:int"/>
<xs:element name="nJugador" type="xs:int"/>
<xs:element name="numeroDescartar" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="descartarCartesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="acabarJoc">
<xs:sequence>
<xs:element name="idSala" type="xs:int"/>
<xs:element name="nJugador" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="acabarJocResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="veureCartes">
<xs:sequence>
<xs:element name="idSala" type="xs:int"/>
<xs:element name="nJugador" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="veureCartesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="demanarCarta">
<xs:sequence>
<xs:element name="idSala" type="xs:int"/>
<xs:element name="nJugador" type="xs:int"/>
<xs:element name="numeroDesitjat" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="demanarCartaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>